

[env]
TERM = "xterm-256color"


[font]
size = 14
[font.normal]
# family = "JetBrainsMono Nerd Font"
# # family = "ocsiker"
# style = "Regular"

[[keyboard.bindings]]
action = "Paste"
key = "V"
mods = "Control|Shift"

[[keyboard.bindings]]
action = "Copy"
key = "C"
mods = "Control|Shift"

[general]

import = ["~/.config/alacritty/themes/themes/catppuccin.toml"]
