[Desktop Entry]
Name=Emoji Choice
Icon=ibus
Exec=/usr/libexec/ibus-extension-gtk3
Type=Application
NoDisplay=true
X-Desktop-File-Install-Version=0.24
X-Ubuntu-Gettext-Domain=ibus10
